* {
    margin: 0;
    padding: 0;
    background-color: rgb(20, 20, 20);
    font-family: "Segoe UI", Arial, "Helvetica Neue", Helvetica;
    font-weight: lighter;
    font-size: 18px;
    color: rgb(233, 188, 178);
    text-decoration: none;
}

a {
    display: inline-block;
    margin: 25px 0 25px 0;
    background-color: rgb(15, 15, 15);
    transition: 0.5s;
}

a:hover {
    color: rgb(218, 134, 149);
}

h1 {
    font-size: 20px;
    text-align: justify;
}

p {
    margin-top: 18px;
    text-align: justify;
    color: rgb(242, 230, 217);
}

li {
    margin-top: 18px;
    margin-left: 28px;  
    text-align: justify;
    color: rgb(242, 230, 217);
}

span {
	color: rgb(234, 215, 195);
}

#shell {
    margin: auto;
    width: 1024px;
    height: 768px;
	background-color: rgb(20, 20, 20);
}

#header {
    position: fixed;
	width: 100%;
	top: 0;
    left: 0;
    background-color: rgb(15, 15, 15);
    opacity: 0.8;
    box-shadow: 0 0 10px black;
}

#content {
    padding-top: 99px;
    padding-bottom: 315px;
}

#home {
    margin-left: 25px;
}

#education {
    margin-left: 25px;
}

#skills {
    margin-left: 25px;
}

#works {
    margin-left: 25px;
}

#reference {
    margin-left: 25px;
}

#contact {
    margin-left: 25px;
}

#cv {
    margin-left: 25px;
}

#eng {
    float: right;
    margin-right: 25px;
}

#srp {
    float: right;
    margin-right: 25px;
}

#footer {
    position: fixed;
	width: 100%;
	height: 265px;
	left: 0;
	bottom: 0;
    background-color: rgb(15, 15, 15);
	background-image: url("images/logo.png"), url("images/profile_picture.png");
	background-position: left top, right bottom;
	background-repeat: no-repeat, no-repeat;
	opacity: 0.8;
    box-shadow: 0 0 10px black;
}

#copyright{
    padding: 0;
    margin: 181px 0 0 215px;
    font-size: 36px;
    background-color: rgba(0,0,0,0);;
}

.title {
    color: rgb(222, 192, 160);
}

.selected {
    color: rgb(218, 134, 149);
    text-decoration: underline;
}

.a-content {
    display: inline;
    margin: 0;
    background-color: transparent;
}